@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&display=swap');
@import url("components/container.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/form.css");

body{
	font-family: "Helvetica";
	font-size: 22px;
    margin:0px;
}


h1{
	font-family: "Great Vibes", cursive;
	font-size:40px ;
	font-weight: bold;
	text-align: center;

}

h2{
	font-family: "Great Vibes", cursive;
	font-size:50px ;
	font-weight: bold;
	text-align: center;
	color:#696969 ;;

}


h3{
	font-family:"Dancing Script", cursive;
	font-size:50px ;
	font-weight: bold;

}

a{
	text-decoration: none;
}

 f